<section data-ng-controller="ProductsController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="productCode">Product Code</label>
			<div class="controls">
				<input type="text" data-ng-model="productCode" id="productCode" placeholder="Product Code">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" data-ng-model="name" id="name" placeholder="Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="category">Category</label>
			<div class="controls">
				<input type="text" data-ng-model="category" id="category" placeholder="Category">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="price">Price</label>
			<div class="controls">
				<input type="text" data-ng-model="price" id="price" placeholder="Price">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>